<div class="contents row">
  <div class="container">
    <h3>顧客追加</h3>
    <%= form_with(model: @client, local: true) do |f| %>
      <%= render partial: "client", locals: { f: f } %>
      <%= f.submit "追加" %>
    <% end %>
  </div>
</div>