// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.calendar-body {
  background-color: rgb(114, 151, 161);
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.lavel {
  font-size: 3vh;
  color: rgb(255, 255, 255);
}

.text-input {
  height: 4vh;
  width: 15vw;
  margin: 0 2vw;
}

.date-select {
  height: 4vh;
  width: 13vw;
  margin: 0 2vw;
}

.submit-button {
  width: 10vw;
  margin: 1px;
}